In [1]:
import pandas as pd
import os

In [22]:
#load VES and VEF
VEF = pd.read_csv('../temporary/.localbtcVEF.csv', names = ['date', 'price', 'amount'])
VES = pd.read_csv('../temporary/.localbtcVES.csv', names = ['date', 'price', 'amount'])

In [23]:
VEF = VEF.drop_duplicates()
VES = VES.drop_duplicates()

VEF.insert(1, 'tid', range(len(VEF)))
VES.insert(1, 'tid', range(len(VEF), len(VEF)+len(VES)))

VEF['Currency'] = 'VEF'
VES['Currency'] = 'VES'

In [26]:
VEF

               date      tid         price    amount Currency
0        1381171053        0  6.149000e+03  0.032500      VEF
1        1382112031        1  6.500600e+03  0.230700      VEF
2        1383677636        2  1.077885e+04  1.000000      VEF
3        1384962550        3  2.556939e+04  0.020000      VEF
4        1385592158        4  5.235709e+04  0.467900      VEF
...             ...      ...           ...       ...      ...
1555467  1536157905  1555420  7.399980e+05  0.040541      VEF
1555468  1536173391  1555421  7.395000e+05  0.010818      VEF
1555469  1536245833  1555422  7.600000e+05  0.026316      VEF
1555470  1536265695  1555423  9.500000e+05  0.052632      VEF
1555471  1542831530  1555424  3.628715e+10  0.055116      VEF

[1555425 rows x 5 columns]

In [27]:
VES

               date      tid       price    amount Currency
0        1534864965  1555425   719999.94  0.027778      VES
1        1534865207  1555426   540000.00  0.004150      VES
2        1534865260  1555427   668680.14  0.000897      VES
3        1534865282  1555428   749999.77  0.010667      VES
4        1534865284  1555429   540000.54  0.001852      VES
...             ...      ...         ...       ...      ...
1054316  1546936993  2609678  5141000.51  0.007294      VES
1054317  1546937422  2609679  5169989.25  0.001934      VES
1054318  1546937551  2609680  4993996.35  0.004606      VES
1054319  1546938200  2609681  5280099.85  0.044980      VES
1054320  1546938807  2609682  5175519.79  0.003014      VES

[1054258 rows x 5 columns]

In [28]:
VEF.to_csv('../temporary/trades_by_country/trades_VEF.csv', index = False)
VES.to_csv('../temporary/trades_by_country/trades_VES.csv', index = False)